html {
    height:100%;
}
body {
    height:100%;
    margin: 0;
    background-color: #eaff70;
    background-image: url("art.png");
}

.cool {
    font-family: Arial;
    color: white;
}

.banner {
    margin: 80px;
    padding: 20px;
    background-color:#eaff70;
    border-style:solid;
    border-color:black;
}

.cat {
    display:inline;
    text-align:center;
}

@keyframes shake {
    from {
        transform:rotate(20deg);
    }
    to {
        transform:rotate(-20deg);
    }
}
a:hover img {
    animation-name:shake;
    animation-duration:0.035s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-timing-function:linear;
}

div.cool {
    margin:80px;
    padding:20px;
    background-image: linear-gradient(#ff70ea, #ee60da);
    border-style:solid;
    border-color:black;
}

h1.cool {
    text-align: center;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: #daef60;
}

li {
    float:left;
}

li a {
    display: block;
    text-decoration:none;
    text-align:center;
    width: 200px;
    margin: 2px;
}

li a:hover {
    background-color: #555;
    text-decoration:none;
}



